.main {
  width: 100%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  margin-top: 133px;
  .main-center {
    width: 90%;
    margin: 25px 0 18px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    .center-right {
      width: 22.3%;
      display: flex;
      flex-flow: column wrap;
      row-gap: 18px;
      .part-1 {
        width: 95.5%;
        height: 696.25px;
        background-color: #fff;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        .textdiv {
          color: #0a5abd;
          font-family: var(--shabnam);
          font-size: 18px;
          padding: 16px 16px 0;
          box-sizing: border-box;
          font-weight: bold;
        }
        .item-container {
          width: 95%;
          margin: 16px auto;
          display: flex;
          flex-flow: column wrap;
          align-items: center;
          row-gap: 8px;
          .item {
            width: 94%;
            height: 37px;
            background-color: #f6f6f6;
            color: #000000de;
            font-family: var(--shabnam);
            font-size: 14px;
            padding: 8px;
            box-sizing: border-box;
            border-radius: 10px;
            cursor: pointer;
            &:hover {
              background-color: #e5e7eb;
            }
          }
        }
      }
      .part-2 {
        width: 95.5%;
        height: 140.96px;
        background-color: #fff;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        .textdiv {
          color: #0a5abd;
          font-family: var(--shabnam);
          font-size: 18px;
          padding: 16px;
          box-sizing: border-box;
          font-weight: bold;
        }
        .top {
          padding: 0 16px 16px 0;
          box-sizing: border-box;
          display: flex;
          flex-flow: row wrap;
          .outside {
            width: 50px;
            height: 25px;
            margin-left: 16px;
            background-color: #ccc;
            border-radius: 15px;
            position: relative;
            transition: 500ms;
            .inside {
              width: 18px;
              height: 18px;
              background-color: #fff;
              border-radius: 50%;
              position: absolute;
              top: 3.3px;
              right: 30px;
              transition: 500ms;
            }
          }
          span {
            font-family: var(--shabnam);
            font-size: 14px;
            color: #757575;
          }
        }
        .bottom {
          padding: 0 16px 16px 0;
          box-sizing: border-box;
          display: flex;
          flex-flow: row wrap;
          .outside {
            width: 50px;
            height: 25px;
            margin-left: 16px;
            background-color: #ccc;
            border-radius: 15px;
            position: relative;
            transition: 500ms;
            .inside {
              width: 18px;
              height: 18px;
              background-color: #fff;
              border-radius: 50%;
              position: absolute;
              top: 3.3px;
              right: 30px;
              transition: 500ms;
            }
          }
          span {
            font-family: var(--shabnam);
            font-size: 14px;
            color: #757575;
          }
        }
      }
      .part-3 {
        width: 95.5%;
        height: 283.06px;
        background-color: #fff;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        font-family: var(--shabnam);
        .textdiv {
          color: #0a5abd;
          font-size: 18px;
          padding: 16px 16px 0;
          box-sizing: border-box;
          font-weight: bold;
        }
        .p-3-items {
          width: 100%;
          padding: 16px;
          margin-bottom: 12px;
          box-sizing: border-box;
          .p-1 {
            height: 36px;
            border-bottom: 1px solid #75757531;
            .liteSpan {
              font-size: 14px;
              color: #757575;
            }
            .darkSpan {
              font-size: 18px;
              color: #000;
              margin-right: 200px;
              font-weight: bold;
            }
          }
          .p-2 {
            height: 36px;
            border-bottom: 1px solid #75757531;
            margin-top: 14px;
            .liteSpan {
              font-size: 14px;
              color: #757575;
            }
            .darkSpan {
              font-size: 18px;
              color: #000;
              margin-right: 124px;
              font-weight: bold;
            }
          }
          .p-3 {
            width: 100%;
            height: 30px;
            margin-bottom: 12px;
            position: relative;
            .circle-1 {
              width: 18px;
              height: 18px;
              background-color: #0a5abd;
              border-radius: 50%;
              position: absolute;
              top: 16px;
            }
            .circle-2 {
              width: 18px;
              height: 18px;
              background-color: #0a5abd;
              border-radius: 50%;
              position: absolute;
              top: 16px;
              right: 237px;
            }
            .line {
              width: 95%;
              height: 4px;
              background-color: #0a5abd;
              position: absolute;
              top: 23px;
              right: 11px;
            }
          }
          .p-4 {
            font-size: 12px;
            margin: 8px 1px 20px;
            color: #000000de;
            .span-left {
              margin-right: 169px;
            }
          }
          .p-5 {
            width: 100%;
            height: 42px;
            background-color: #0a5abd;
            border-radius: 12px;
            cursor: pointer;
            transition: 300ms;
            span {
              display: block;
              color: #fff;
              text-align: center;
              line-height: 42px;
            }
            &:hover {
              background-color: #0a295a;
            }
          }
        }
      }
      .part-4 {
        width: 95.5%;
        height: 298.98px;
        background-color: #fff;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        font-family: var(--shabnam);
        .textdiv {
          color: #0a5abd;
          font-size: 18px;
          padding: 16px 16px 0;
          box-sizing: border-box;
          font-weight: bold;
        }
        #search-item {
          width: 212px;
        }
        .list {
          width: 99%;
          padding: 16px;
          height: 250px;
          box-sizing: border-box;
          overflow: scroll;
          scrollbar-width: thin;
          overflow-x: hidden;
          .search {
            height: 40px;
            width: 250px;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
            border-radius: 20px;
            background-color: #f6f6f6;
            display: flex;
            align-items: center;
            gap: 8px;
            #search-item {
              background-color: #f6f6f6;
              border: none;
              &::placeholder {
                font-family: var(--shabnam);
                font-size: 16px;
              }
            }
          }
          .checkbox {
            input {
              width: 18px;
              height: 18px;
              margin: 10px;
            }
            label {
              font-size: 14px;
            }
          }
        }
      }
      .part-5 {
        width: 95.5%;
        height: 298.98px;
        background-color: #fff;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        font-family: var(--shabnam);
        .textdiv {
          color: #0a5abd;
          font-size: 18px;
          padding: 16px 16px 0;
          box-sizing: border-box;
          font-weight: bold;
        }
        .color-list {
          width: 95%;
          height: 250px;
          padding: 20px;
          box-sizing: border-box;
          .color-items {
            display: flex;
            justify-content: space-between;
            .right {
              display: flex;
              gap: 8px;
              input {
                width: 18px;
                height: 18px;
              }
              label {
                font-size: 14px;
              }
            }
            .left-1 {
              width: 13px;
              height: 13px;
              border-radius: 50%;
              background-color: #000;
              border: 1px solid #2b2b2b25;
            }
          }
        }
      }
      .part-6 {
        width: 95.5%;
        height: 288px;
        background-color: #fff;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        img {
          width: 100%;
          object-fit: contain;
          border-radius: 12px;
        }
      }
    }
    .center-left {
      width: 75%;
      display: flex;
      flex-flow: column wrap;
      row-gap: 18px;
      .part-1 {
        width: 96%;
        height: 143px;
        padding: 16px;
        box-sizing: border-box;
        background-color: #fff;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        font-family: var(--shabnam);
        h1 {
          font-size: 16px;
          color: #000000de;
          margin: 0 0 23px;
          font-weight: lighter;
        }
        .div-top {
          display: flex;
          flex-flow: row wrap;
          gap: 10px;
          margin-bottom: 23px;
          .div-1 {
            display: flex;
            align-items: center;
            .span-1 {
              color: #00000099;
              font-size: 12px;
              margin-left: 10px;
              cursor: pointer;
              &:hover {
                color: #000000de;
              }
            }
          }
          .div-2 {
            display: flex;
            align-items: center;
            .span-2 {
              color: #00000099;
              font-size: 12px;
              margin-left: 10px;
              cursor: pointer;
              &:hover {
                color: #000000de;
              }
            }
          }
          .div-3 {
            display: flex;
            align-items: center;
            .span-3 {
              color: #0a5abd;
              font-size: 12px;
              cursor: pointer;
            }
          }
        }
        .div-bottom {
          width: 980px;
          display: flex;
          flex-flow: row wrap;
          .div-1 {
            display: flex;
            align-items: center;
            span {
              font-size: 14px;
              color: #00000099;
              margin-right: 5px;
            }
          }
          .div-2 {
            display: flex;
            align-items: center;
            margin: 0 20px;
            span {
              color: #00000099;
              font-size: 14px;
              font-weight: bold;
              cursor: pointer;
            }
          }
          .div-3 {
            display: flex;
            align-items: center;
            margin-left: 20px;
            span {
              color: #00000099;
              font-size: 14px;
              cursor: pointer;
              &:hover {
                color: #000000de;
              }
            }
          }
          .div-4 {
            display: flex;
            align-items: center;
            margin-left: 20px;
            span {
              color: #00000099;
              font-size: 14px;
              cursor: pointer;
              &:hover {
                color: #000000de;
              }
            }
          }
          .div-5 {
            display: flex;
            align-items: center;
            margin-left: 440px;
            span {
              color: #00000099;
              font-size: 14px;
              cursor: pointer;
              &:hover {
                color: #000000de;
              }
            }
          }
          .div-6 {
            display: flex;
            align-items: center;
            margin-left: 20px;
            span {
              color: #00000099;
              font-size: 18px;
              font-weight: bold;
            }
          }
        }
      }
      .part-2 {
        width: 96%;
        height: 4194.86px;
        border: 1px solid seagreen;
      }
      .part-3 {
        width: 96%;
        height: 73.18px;
        background-color: #fff;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
        border-radius: 12px;
      }
      .part-4 {
        width: 96%;
        font-family: var(--shabnam);
        font-size: 16px;
        color: #757575;
        line-height: 30px;
        transition: 2.5s;
        .container {
          width: 96%;
          padding: 16px 16px 0;
          transition: 1s;
        }
        .text-container {
          position: relative;
          .text-content {
            max-height: 145px;
            overflow: hidden;
            transition: 2.5s;
            &.expanded {
              max-height: 1600px;
            }
            table {
              width: 911px;
              margin: 0px auto;
              color: #000000de;
              tr {
                height: 50.33px;
              }
              .first-td {
                text-align: center;
              }
            }
          }
          .fade-overlay {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 45px;
            background: linear-gradient(
              to top,
              rgba(255, 255, 255, 1) 0%,
              rgba(255, 255, 255, 0) 100%
            );
            .text-content.expanded + & {
              opacity: 0;
            }
          }
        }
        .text-content.expended ~ .part-4 {
          margin-bottom: 1000px;
        }
        .read-more-btn {
          display: block;
          margin: 5px auto;
          padding: 10px 0;
          background-color: #fafafa;
          font-family: var(--shabnam);
          font-size: 16px;
          color: #0a5abd;
          border: unset;
          cursor: pointer;
        }
      }
      .part-5 {
        width: 96%;
        height: 879.25px;
        background-color: #fff;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
        border-radius: 12px;
      }
    }
  }
}
#myTop.active,
#myBottom.active {
  background-color: #0a5abd;
}

#myTop.active .inside,
#myBottom.active .inside {
  right: 2px;
}
