.address {
  width: 100%;
  height: 92px;
  background-color: #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  .address-center {
    width: 85%;
    height: 60%;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .address-center-1 {
      width: 10%;
      height: 85%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      gap: 5px;
      span {
        font-family: var(--fNum);
        font-weight: lighter;
        font-size: 13px;
        color: #757575;
      }
    }
    .address-center-2 {
      width: 42%;
      height: 85%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      gap: 5px;
      span {
        font-family: var(--shabnam);
        font-size: 14px;
        color: #757575;
      }
    }
    .address-center-3 {
      width: 35%;
      height: 85%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      gap: 5px;
      span {
        font-family: var(--shabnam);
        font-size: 14px;
        color: #757575;
      }
    }
    .address-center-4 {
      width: 7.5%;
      height: 80%;
      background-color: #fff;
      border-radius: 12px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
      .back-to-top {
        width: 100%;
        height: 100%;

        a {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-around;
          align-items: center;
          gap: 20px;
          width: 100%;
          height: 100%;
          text-decoration: none;
          color: #757575;
          font-family: var(--shabnam);
          font-size: 12px;
          &:hover {
            color: #000;
          }
        }
      }
    }
  }
}
