.banner-div {
  width: 100%;
  height: 465px;
  margin-top: 133px;
  background-color: #fafafa;
  padding: 32px;
  box-sizing: border-box;
  .swiper {
    width: 1216px;
    height: 402px;
    border-radius: 12px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: whitesmoke;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #2b2b2b;
}
