.category {
  width: 100%;
  height: 300px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  .category-center {
    width: 81%;
    height: 80%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    h2 {
      font-family: var(--shabnam);
      font-size: 26px;
      margin-bottom: 10px;
    }
    .category-slider {
      width: 100%;
      height: 75%;
      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .swiper-button-next {
    width: 38px;
    height: 38px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #8b8b8b57;
    transform: translate(-4px, 7px);
    svg {
      width: 12px;
      height: 12px;
      color: #2b2b2bbd;
    }
    &:hover {
      background-color: #acacac;
      border: 1px solid whitesmoke;
    }
  }
  .swiper-button-prev {
    width: 38px;
    height: 38px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #8b8b8b57;
    transform: translate(4px, 8px);
    svg {
      width: 12px;
      height: 12px;
      color: #2b2b2bbd;
    }
    &:hover {
      background-color: #acacac;
      border: 1px solid whitesmoke;
    }
  }
}
