.customers {
  width: 100%;
  height: 1510;
  margin-top: 133px;
  background-color: #fafafa;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  row-gap: 16px;
  .customers-center-1 {
    width: 85%;
    height: 47.5%;
    margin-top: 20px;
    padding: 24px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #8b8b8b33;
    span {
      display: block;
      margin-bottom: 16px;
      font-family: var(--shabnam);
      font-size: 30px;
      color: #757575;
      font-weight: bolder;
    }
    img {
      width: 100%;
      margin: 5px 0px;
      border-radius: 12px;
    }
    p {
      margin-bottom: 15px;
      font-family: var(--shabnam);
      font-size: 16px;
      line-height: 30px;
      color: #000000de;
    }
  }
  .customers-center-2 {
    width: 85%;
    height: 13%;
    padding: 24px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #8b8b8b33;
    border-radius: 12px;
    display: flex;
    flex-flow: row wrap;
    column-gap: 20px;
    .image-customers {
      width: 8%;
      height: 100%;
      .bronze {
        width: 100%;
      }
    }
    .text-customers {
      width: 51%;
      height: 100%;
      h2 {
        margin-bottom: 15px;
        color: #a64b24;
        font-family: var(--shabnam);
        font-size: 24px;
        font-weight: bold;
      }
      span {
        display: block;
        color: #757575;
        font-family: var(--shabnam);
        font-size: 16px;
        line-height: 26px;
      }
    }
  }
  .customers-center-3 {
    width: 85%;
    height: 13%;
    padding: 24px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #8b8b8b33;
    border-radius: 12px;
    display: flex;
    flex-flow: row wrap;
    column-gap: 20px;
    .image-customers {
      width: 8%;
      height: 100%;
      .silver {
        width: 100%;
      }
    }
    .text-customers {
      width: 51%;
      height: 100%;
      h2 {
        margin-bottom: 15px;
        color: #969995;
        font-family: var(--shabnam);
        font-size: 24px;
        font-weight: bold;
      }
      span {
        display: block;
        color: #757575;
        font-family: var(--shabnam);
        font-size: 16px;
        line-height: 26px;
      }
    }
  }
  .customers-center-4 {
    width: 85%;
    height: 13%;
    padding: 24px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #8b8b8b33;
    border-radius: 12px;
    display: flex;
    flex-flow: row wrap;
    column-gap: 20px;
    .image-customers {
      width: 8%;
      height: 100%;
      .gold {
        width: 100%;
      }
    }
    .text-customers {
      width: 51%;
      height: 100%;
      h2 {
        margin-bottom: 15px;
        color: #edc129;
        font-family: var(--shabnam);
        font-size: 24px;
        font-weight: bold;
      }
      span {
        display: block;
        color: #757575;
        font-family: var(--shabnam);
        font-size: 16px;
        line-height: 26px;
      }
    }
  }
  .customers-center-5 {
    width: 26%;
    height: 3.3%;
    margin: 60px 0px;
    background-color: #0a295a;
    border-radius: 5px;
    transition: 200ms;
    cursor: pointer;
    &:hover{
        border-radius: 0;
    }
    span {
      display: block;
      padding: 11px 60px;
      box-sizing: border-box;
      font-family: var(--shabnam);
      font-size: 18px;
      color: #fff;
    }
  }
}
