.login {
  width: 100%;
  height: 712px;
  position: relative;
  .login-center {
    width: 24%;
    height: 450px;
    background-color: #f7f8fa;
    border-radius: 14px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .login-top {
      width: 100%;
      height: 30%;
      border-bottom: 1px solid #8b8b8b34;
      svg {
        margin-right: 330px;
        margin-top: 8px;
      }
      .login-logo {
        display: block;
        width: 44.5%;
        margin: 0px auto;
      }
    }
    .login-bottom {
      padding: 24px;
      box-sizing: border-box;
      .span-1-login {
        display: block;
        font-size: 18px;
        font-family: var(--shabnam);
        font-weight: bold;
        color: #000000de;
        margin: 0px 0px 16px;
      }
      p {
        width: 98%;
        font-size: 14px;
        font-family: var(--shabnam);
        color: #000000de;
        margin: 0px 0px 24px;
        line-height: 30px;
      }
      .buttons {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        position: relative;
        label {
          display: block;
          font-family: var(--shabnam);
          font-size: 14px;
          position: absolute;
          top: 5%;
          left: 73%;
          color: #757575;
          transition: 300ms;
        }
        #phoneNumber {
          width: 98%;
          height: 34px;
          padding: 4px 8px;
          margin-bottom: 35px;
          box-sizing: border-box;
          border-radius: 12px;
          outline: unset;
          outline-offset: unset;
          border: unset;
          border: 1px solid #8b8b8b50;
          font-family: var(--fNum);
          &:focus + label,
          &:valid + label {
            top: -18%;
            left: 81%;
            font-size: 10px;
            color: #063268;
          }
          &:focus {
            border: 1px solid #80a9db;
          }
        }
        #register {
          width: 98%;
          height: 34px;
          background-color: #80a9db;
          border-radius: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 14px;
          .register-button {
            display: flex;
            text-decoration: none;
            color: #fff;
            font-size: 14px;
            font-family: var(--shabnam);
            font-weight: bold;
          }
        }
      }
      .end-p {
        font-size: 12px;
        font-family: var(--shabnam);
        color: #2d3748;
        text-align: center;
        span {
          color: #0a5abd;
        }
      }
    }
  }
  .footer-login {
  width: 100%;
  height: 53px;
  background-color: #2c5282;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: absolute;
  bottom: -53px;
  a {
    text-decoration: none;
    font-size: 14px;
    font-family: var(--shabnam);
    color: #fff;
    font-weight: bold;
  }
}
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background-color: #063268;
  border-radius: 10px;
  border: 3px solid #f5f5f5;
}
