@import url(./header.css);
@import url(./setting.css);
@import url(./baner.css);
@import url(./dailyOffer.css);
@import url(./svg.css);
@import url(./category.css);
@import url(./new.css);
@import url(./positivePoints.css);
@import url(./mostSell.css);
@import url(./favoriteBrands.css);
@import url(./articles.css);
@import url(./address.css);
@import url(./footer.css);
@import url(./wraper.css);
@import url(./login.css);
@import url(./poshtibani.css);
@import url(./customers.css);
@import url(./accessories.css);

