.poshtibani-closed {
  position: fixed;
  bottom: 15px;
  right: 2px;
  z-index: 1000;
  .closed {
    width: 57px;
    height: 57px;
    background-color: #114b92;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 15px #2b2b2b;
    cursor: pointer;
    transition: 150ms;
    &:hover {
      width: 62px;
      height: 62px;
    }
    &:hover svg {
      width: 40px;
      height: 40px;
    }
    svg {
      transition: 150ms;
    }
  }
}
#closed {
  display: none;
  &:checked ~ .poshtibani-open {
    display: block;
  }
}
#open {
  display: none;
}
.poshtibani-open {
  display: none;
  position: fixed;
  width: 366px;
  height: 96vh;
  bottom: 15px;
  right: 2px;
  background-color: #fff;
  box-shadow: 1px 2px 15px #2b2b2b6b;
  border-radius: 10px;
  z-index: 1000;
  .top {
    width: 100%;
    height: 10%;
    padding: 5px 10px 0 0;
    box-sizing: border-box;
    background-color: #155bb1;
    border-radius: 10px 10px 0 0;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    column-gap: 6px;
    .open {
      width: 30px;
      height: 30px;
      text-align: center;
      font-size: 29px;
      position: absolute;
      color: #fff;
      top: 17px;
      left: 18px;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        background-color: #2e066373;
      }
    }
    .svg-div {
      width: 36px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #fff;
    }
    .text-div {
      width: 70%;
      height: 70%;
      .span-top {
        color: #fff;
        font-family: var(--shabnam);
        font-size: 13.5px;
      }
      .span-bottom {
        color: #fff;
        font-family: var(--shabnam);
        font-size: 10.8px;
      }
    }
  }
  .center {
    width: 100%;
    height: 4%;
    margin-bottom: 142%;
    background-color: #f8f8f8;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    column-gap: 15px;
    span {
      font-family: var(--shabnam);
      font-size: 10px;
      color: #393939;
    }
    .hover-div {
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      column-gap: 3px;
      &:hover .svg-center-open {
        background-color: #770881c0;
      }
      &:hover .hover-span {
        color: #114b92;
      }
      .hover-span {
        transition: 200ms;
      }
      .svg-center-open {
        width: 18px;
        height: 18px;
        background-color: #7b7b7b;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 200ms;
      }
    }
  }
  .bottom {
    width: 100%;
    height: 10%;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    #Qbox-poshtibani {
      width: 290px;
      height: 45px;
      border-radius: 15px;
      outline-offset: unset;
      border: 3px solid #7b7b7b3f;
    }
    label {
      position: absolute;
      font-family: var(--shabnam);
      font-size: 12px;
      color: #7b7b7b;
      right: 25px;
      top: 23px;
    }
    .send {
      width: 40px;
      height: 40px;
      background-color: #c2c2c2;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
